.background1{
    background:url("assets/gradient-violet-bg.jpg"), no-repeat center fixed;
    background-size: cover;
    height: 1000px;
    
}

.logo{
    margin: 0;
    z-index: 1;
    position: relative;
    left: -216px;
    top: 26px;

}

body{
    margin: 0;
    padding: 0;
    height: 100%;

}

.centered{
    margin: auto;
    width: 690px;

}

.header.sticky {
    background-color: rgba(85, 121, 119, 0.55);
  }

.header.nav-up {
    top: -80px;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfCxc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }